{% extends 'base.html' %} 
{% from 'bootstrap5/form.html' import render_form%}

{% block title %}Select Book{% endblock %}
 
{% block content %}
<div class="container">
    <h1 class="heading">Select a book</h1>
     <!-- List of books fetched from OpenLibrary API -->
    {% for book in book_options:%}
    <p>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-light btn-outline-dark text-start w-100 w-md-auto px-3"
                href={{ url_for('find_book', 
                title=book.title, 
                author=book.author_name, 
                year=book.first_publish_year, 
                cover=book.cover_i if book.cover_i else '') }}>{{book.title}} - {{book.first_publish_year}} - {{book.author_name}}
            </button>
        </div>
    </p>
    {% endfor %}
</div>
{% endblock %}